---
connection_string: "jdbc:mysql://<my-hostname>:3306/integration_test"
hdfs_basedir: "hdfs://user/hive/warehouse"
source_db_user_name: "pipewrench"
password_file: "file:////<path_to_password_file>"
destination_database: "default"
impala_cmd: "impala-shell -k --ssl -i <impalad.com> -f "
